<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Search
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content justify-content-evenly>
    <div class="search-row">
        <ion-searchbar
                (ionChange)="valueChange($event)"
                animated
                showCancelButton="focus"
                placeholder="Search for Food!"
        >
        </ion-searchbar>
        <ion-button (click)="search()">Search</ion-button>
    </div>

    <ion-list *ngIf="firstSearchComplete">
        <ion-item *ngFor="let food of foodSearchResults">
            <ion-label>{{food.description}}<span *ngIf="food?.brandOwner" class="brand"> by {{food.brandOwner}}</span>
            </ion-label>
            <ng-container *ngIf="!(isMobile | async); else mobileSelect">
                <ng-container [ngTemplateOutlet]="!isAFavorite(food.fdcId) ? favorite : unfavorite"
                              [ngTemplateOutletContext]="{food: food}">
                </ng-container>
                <ion-button slot="end" (click)="getFoodBasicReport(food.fdcId)">
                    <ion-icon name="information-circle-outline" slot="end"></ion-icon>
                    Info
                </ion-button>
            </ng-container>

        </ion-item>
    </ion-list>
</ion-content>

<ng-template #mobileSelect>
    <ion-item>
        <ion-button [mat-menu-trigger-for]="mobileMenu">
            <ion-icon name="more"></ion-icon>
        </ion-button>
    </ion-item>
</ng-template>

<mat-menu #mobileMenu="matMenu">
    <div>More Info</div>
    <div>Add to Favorites</div>
</mat-menu>

<ng-template #unfavorite let-food="food">
    <ion-button slot="end" color="secondary" (click)="removeFavorite(food.fdcId)">
        <ion-icon name="star" slot="end"></ion-icon>
        Unfavorite
    </ion-button>
</ng-template>

<ng-template #favorite let-food="food">
    <ion-button slot="end" color="tertiary" (click)="addFavorite(food)">
        <ion-icon name="star" slot="end"></ion-icon>
        Favorite
    </ion-button>
</ng-template>
